  body {
 	  margin: 30px;
  }
  
  header h1 {
    font-size: 1.5em;
  }
  
  a {
    text-decoration: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    margin-top: 50px;
  }
    
  textarea {
    height: 5em;
    width: 25em;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .align body {
    width: 500px;
  }
  .align label {
    float: left;
    width: 8em;
    text-align: right;
  }
  .align input {
    margin-left: 1em;
    margin-bottom: .5em;
  }
  .align input[type='submit'] {
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
  }
    
  #form_input {
    width: 150px;
  }